.vscode/*

pyimagesearch/__pycache__/
__pycache__/

# exclude everything
/output/*
/deprecated/output/*

# exception to the rule
!output/.gitkeep
!deprecated/output/.gitkeep
!output/output_AWS_01.avi 

# env
.env
sems-env/ 

# files
/app.py
*.mp4
!testE.mp4
!testC.mp4

#yolo model
*.weights

catkin_ws/build/
catkin_ws/devel/
