[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118/"
verify_ssl = true
name = "pytorch"

[packages]
gitpython = "*"
matplotlib = "*"
numpy = "*"
Pillow = "*"
psutil = "*"
PyYAML = "*"
requests = "*"
scipy = "*"
aiortc = "~=1.5.0"
dlib = "*"
pandas = "*"
structlog = "*"
dacite = "*"
toml = "*"
aiohttp = "*"
pykafka = "*"

[cuda-packages] # Packages that require cuda 11.8 installed
torch = { index = "pytorch", version = "*" }
torchvision = { index = "pytorch", version = "*" }

[cpu-packages] # alternative to the cuda packages
torch = "*"
torchvision = "*"

[system-packages] # packages that can either be obtained from the system's package manager or with prebuilt wheels from pypi
opencv-python = "*"

[dev-packages]

[scripts]
install-cuda = "sh -c 'pipenv install --categories \"packages cuda-packages\"; pip install --no-deps ultralytics'"
install-cpu = "sh -c 'pipenv install --categories \"packages cpu-packages\"; pip install --no-deps ultralytics'"

[requires]
python_version = "3.11"
