.carousel-indicators li {
    height: 20px !important;
    width: 20px !important;
    border-radius: 15px  !important;
}

.title {
    padding: 20px;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
}

body {
    background: linear-gradient(45deg,rgba(20,18,19,.9) 10%,rgba(31, 39, 155, 0.9)),url(./../images/github_pattern.svg) top left/auto;
    background-attachment: fixed;
    color: white !important;
    overflow: hidden;
}

.nav > li > a{
    font-size: 20px;
}


li > a {
    color: white;
}

li > a.active {
    color : #555;
}

p {
    font-size: 20px;
}

.carousel-data > h3{
    display: none;
}
.carousel-data > h3.active{
    display: block !important;
}

.carousel-item.active{
    min-height: 500px;
}